*~
.*.swp
*.[oa]
*.l[oa]
*.so
*.libs
*.deps
*.pc
*Makefile
.dirstamp
config.h
doxygen.cfg
libtool
stamp-h1
/aclocal.m4
/autom4te.cache
/build-stamp
/config
/config.log
/config.guess
/config.status
/config.sub
/configure
/debian/files
/debian/*debhelper
/debian/*debhelper.log
/debian/libnetfilter-cthelper*
/debian/vyatta-conntrack-sync
/INSTALL
/Makefile.in
