Source: libnetfilter-cthelper
Section: unknown
Priority: extra
Maintainer: root <root@buildmachine2.vyatta.com>
Build-Depends: debhelper (>= 7.0.50~), libmnl-dev
Standards-Version: 3.8.4
Homepage: <insert the upstream URL, if relevant>
#Vcs-Git: git://git.debian.org/collab-maint/libnetfilter-cthelper.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/libnetfilter-cthelper.git;a=summary

Package: libnetfilter-cthelper
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
